<section id="education" class="education-section">
    <h2>Education</h2>

    <div class="education-item">
        <img src="assets/images/other/TU_delft_logo.jpg" alt="TU Delft Logo" class="edu-logo">

        <div class="education-text">
            <h3>Master of Science — Mechanical Engineering (High Tech Engineering track)</h3>
            <p>Delft University of Technology (TU Delft) · 2023 – 2026</p>
            <p>Specialized in Micro-Nano Enfineering</p>
        </div>
    </div>

    <div class="education-item">
        <img src="assets/images/other/TU_delft_logo.jpg" alt="TU Delft Logo" class="edu-logo">

        <div class="education-text">
            <h3>Bachelor of Science — Mechanical Engineering</h3>
            <p>Delft University of Technology (TU Delft) · 2019 – 2023</p>
        </div>
    </div>

    <div class="education-item">
        <img src="assets/images/other/UBC_logo.png" alt="UBC Logo" class="edu-logo">

        <div class="education-text">
            <h3>Minor — Engineering Management</h3>
            <p>University of British Columbia · Vancouver · 2022</p>
        </div>
    </div>
</section>
