<section id="education" class="education-section">
    <h2>Education</h2>

    <div class="education-item">
        <img src="assets/images/other/TU_delft_logo.jpg" alt="TU Delft Logo" class="edu-logo">

        <div class="education-text">
            <h3>Master of Science — Mechanical Engineering</h3>
            <p>Delft University of Technology (TU Delft) · 2024 – 2026</p>
        </div>
    </div>

    <div class="education-item">
        <img src="images/tu-delft-logo.png" alt="TU Delft Logo" class="edu-logo">

        <div class="education-text">
            <h3>Bachelor of Science — Mechanical Engineering</h3>
            <p>Delft University of Technology (TU Delft) · 2020 – 2023</p>
        </div>
    </div>
</section>
