<!-- SECTION 3: project -->
<section id="leadership" class="project-grid-section">
    <h2>Leadership & Personal Development</h2>

    <div class="grid-container">
        {% for item in site.leadership %}
    <a href="{{ item.url }}" class="project-link">
        <div class="project-card">
            <img src="{{ item.main-image }}" alt="{{ item.title }} image">
            <h3 class="project-title">{{ item.title }}</h3>
            <div class="project-skills">
                {% for skill in item.skills %}
                    <span class="skill">{{ skill }}</span>
                {% endfor %}
            </div>
            <p class="project-description">{{ item.description }}</p>
            <button class="read-more">Read more →</button>
        </div>
    </a>
{% endfor %}
    </div>


 </section>
